<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" href="/web-server/stealyourface.png">

    <title>About</title>
</head>

<body>
    <div id="main-content">

        {{>header}}
        <img height="300px"
            src="https://cdn.shopify.com/s/files/1/0160/2840/1712/products/datboi_concept.png?v=1586043523" />
    </div>
    {{>footer}}

</body>

</html>